header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 10px;
}

.header-title {
  margin-right: auto;
}

.header-nav-container {
  display: flex;
  gap: 30px; 
  padding-right: 40px;
}