.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 250px); 
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.product-card {
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 350px;
}

.product-card-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.product-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card-image {
  overflow: hidden;
}


.product-list-details {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left; 
}


.product-card-detail-value {
  color: #ffffff;
  font-size: 16px;
}

.product-card-price {
  background-color: #504f4f;
  padding: 5px;
}

.shopping-cart {
  background-color: #CE681D;
  fill: white;
  vertical-align: middle;
}

.product-card-circle {
  color: green;
  fill: green;
  vertical-align: middle;
}

.star {
  color: rgb(252, 172, 69);
  fill: rgb(252, 172, 69);
  vertical-align: middle;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
