.product-page-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}
.product-container {
  background-color: #1C1C1C;
  width: 500px;
}

.product-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.product-card-image {
  max-height: 400px;
  display: flex;
  align-items: center;
}
.back-button-container {
  display: flex;
}

.back-button {
  margin-top: 10px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

